In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data2000.csv')
df

,GVKEY,LPERMCO,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,...,ceq,che,lt,ni,costat,mkvalt,dlrsn,gind,sic,dldte
0,1004,20000,31/05/2000,1999,INDL,C,D,STD,AIR,AAR CORP,...,339.515,1.241,401.483,35.163,A,372.7519,NaN,201010.0,5080,NaN
1,1004,20000,31/05/2001,2000,INDL,C,D,STD,AIR,AAR CORP,...,340.212,13.809,361.642,18.531,A,377.1180,NaN,201010.0,5080,NaN
2,1004,20000,31/05/2002,2001,INDL,C,D,STD,AIR,AAR CORP,...,310.235,34.522,399.964,-58.939,A,364.5928,NaN,201010.0,5080,NaN
3,1004,20000,31/05/2003,2002,INDL,C,D,STD,AIR,AAR CORP,...,294.988,29.154,391.633,-12.410,A,143.3295,NaN,201010.0,5080,NaN
4,1004,20000,31/05/2004,2003,INDL,C,D,STD,AIR,AAR CORP,...,301.684,41.010,407.608,3.504,A,308.9071,NaN,201010.0,5080,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117716,328795,56541,31/12/2018,2018,INDL,C,D,STD,ACA,ARCOSA INC,...,1684.500,99.400,487.700,75.700,A,1348.5030,NaN,201030.0,3440,NaN
117717,328795,56541,31/12/2019,2019,INDL,C,D,STD,ACA,ARCOSA INC,...,1790.400,240.400,512.100,113.300,A,2151.7650,NaN,201030.0,3440,NaN
117718,330227,56643,31/12/2019,2019,INDL,C,D,STD,CTRM,CASTOR MARITIME INC,...,13.204,4.559,17.217,1.088,A,6.1383,NaN,203030.0,4412,NaN
117719,331856,54835,31/12/2019,2019,INDL,C,D,STD,IMUX,IMMUNIC INC,...,58.363,29.369,7.592,-34.933,A,104.2265,NaN,352010.0,2836,NaN
117720,332115,13099,31/12/2019,2019,INDL,C,D,STD,ARMP,ARMATA PHARMACEUTICALS INC,...,14.593,6.033,10.858,-19.479,A,32.2498,NaN,352010.0,2836,NaN

In [3]:
df.columns

Index(['GVKEY', 'LPERMCO', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc',
       'datafmt', 'tic', 'conm', 'curcd', 'ceq', 'che', 'lt', 'ni', 'costat',
       'mkvalt', 'dlrsn', 'gind', 'sic', 'dldte'],
      dtype='object')

In [4]:
# Drop the observations without suficient data for analysis
df = df.dropna(subset=['datadate','tic','ceq', 'che', 'lt', 'ni', 'costat','mkvalt','gind', 'sic'])

In [5]:
# Drop the companies that were deleted for different reasons than bankruptcy
for i in [1,4,5,6,7,8,9,10,11,12]:
    df.drop(df.loc[df['dlrsn']==i].index, inplace=True)

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [6]:
# Fill the Nans in Reason for Deletion column that correspond to non-bankrupt companies
df['dlrsn'] = df['dlrsn'].fillna(0)

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
# Observations of bankrupt companies
df.loc[df['dlrsn'].isin([2.0,3.0])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 1684 to 117401
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GVKEY     1350 non-null   int64
 1   LPERMCO   1350 non-null   int64
 2   datadate  1350 non-null   object
 3   fyear     1350 non-null   int64
 4   indfmt    1350 non-null   object
 5   consol    1350 non-null   object
 6   popsrc    1350 non-null   object
 7   datafmt   1350 non-null   object
 8   tic       1350 non-null   object
 9   conm      1350 non-null   object
 10  curcd     1350 non-null   object
 11  ceq       1350 non-null   float64
 12  che       1350 non-null   float64
 13  lt        1350 non-null   float64
 14  ni        1350 non-null   float64
 15  costat    1350 non-null   object
 16  mkvalt    1350 non-null   float64
 17  dlrsn     1350 non-null   float64
 18  gind      1350 non-null   float64
 19  sic       1350 non-null   int64
 20  dldte     1350 non-null   object
dtypes: float64(7), int64(4), object(10)
memory usage: 232.0+ KB

In [8]:
# Observations of non-bankrupt companies
df.loc[df['dlrsn'].isin([0])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55996 entries, 0 to 117720
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GVKEY     55996 non-null  int64
 1   LPERMCO   55996 non-null  int64
 2   datadate  55996 non-null  object
 3   fyear     55996 non-null  int64
 4   indfmt    55996 non-null  object
 5   consol    55996 non-null  object
 6   popsrc    55996 non-null  object
 7   datafmt   55996 non-null  object
 8   tic       55996 non-null  object
 9   conm      55996 non-null  object
 10  curcd     55996 non-null  object
 11  ceq       55996 non-null  float64
 12  che       55996 non-null  float64
 13  lt        55996 non-null  float64
 14  ni        55996 non-null  float64
 15  costat    55996 non-null  object
 16  mkvalt    55996 non-null  float64
 17  dlrsn     55996 non-null  float64
 18  gind      55996 non-null  float64
 19  sic       55996 non-null  int64
 20  dldte     0 non-null      object
dtypes: float64(7), int64(4), object(10)
memory usage: 9.4+ MB

In [9]:
# Number of bankrupt companies
df.loc[df['dlrsn'].isin([2.0,3.0])]['tic'].nunique()

240

In [10]:
# Number of non-bankrupt companies
df.loc[df['dlrsn'].isin([0])]['tic'].nunique()

4942

In [11]:
# Codes to extract price data
lpermcos = df.LPERMCO.unique()

In [12]:
# Total number of companies
len(lpermcos)

5290

In [13]:
# USED TO DOWNLOAD THE PRICE DATA
#with open("outfile.txt", "w") as outfile:
#    outfile.write("\n".join(str(item) for item in lpermcos))

In [14]:
# Drop companies with only one observation throughout the timeframe (only one year of data)
df['count1'] = 1
df['count1'] = df.groupby(['LPERMCO']).transform(sum).count1
df.drop(df.index[df['count1'] == 1], inplace = True)

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
# Drop the company with no price data
df.drop(df.index[df['LPERMCO']==5614], inplace=True)

In [16]:
# Recalculating lpermcos after dropping rows
lpermcos = df.LPERMCO.unique()
len(lpermcos)

4956

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57010 entries, 0 to 117717
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GVKEY     57010 non-null  int64
 1   LPERMCO   57010 non-null  int64
 2   datadate  57010 non-null  object
 3   fyear     57010 non-null  int64
 4   indfmt    57010 non-null  object
 5   consol    57010 non-null  object
 6   popsrc    57010 non-null  object
 7   datafmt   57010 non-null  object
 8   tic       57010 non-null  object
 9   conm      57010 non-null  object
 10  curcd     57010 non-null  object
 11  ceq       57010 non-null  float64
 12  che       57010 non-null  float64
 13  lt        57010 non-null  float64
 14  ni        57010 non-null  float64
 15  costat    57010 non-null  object
 16  mkvalt    57010 non-null  float64
 17  dlrsn     57010 non-null  float64
 18  gind      57010 non-null  float64
 19  sic       57010 non-null  int64
 20  dldte     1328 non-null   object
 21  count1    57010 non-null  object
dtypes: float64(7), int64(4), object(11)
memory usage: 10.0+ MB

# Price Data

In [32]:
price = pd.read_csv('prices1.csv')
print(price.info())
price.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750806 entries, 0 to 750805
Data columns (total 15 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   GVKEY      750806 non-null  int64
 1   LINKPRIM   750806 non-null  object
 2   LIID       750806 non-null  int64
 3   LINKTYPE   750806 non-null  object
 4   LPERMNO    750806 non-null  int64
 5   LPERMCO    750806 non-null  int64
 6   LINKDT     750806 non-null  object
 7   LINKENDDT  750806 non-null  object
 8   iid        750806 non-null  int64
 9   datadate   750806 non-null  object
 10  tic        750806 non-null  object
 11  conm       750806 non-null  object
 12  prccm      750789 non-null  float64
 13  cshoq      237102 non-null  float64
 14  ccmbegdt   750806 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 85.9+ MB
None

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,iid,datadate,tic,conm,prccm,cshoq,ccmbegdt
0,1004,P,1,LU,54594,20000,24/04/1972,E,1,28/02/2006,AIR,AAR CORP,25.31,36.348,01/03/2005
1,1004,P,1,LU,54594,20000,24/04/1972,E,1,31/07/2004,AIR,AAR CORP,10.40,NaN,01/08/2003
2,1004,P,1,LU,54594,20000,24/04/1972,E,1,30/06/2004,AIR,AAR CORP,11.35,NaN,01/07/2003
3,1004,P,1,LU,54594,20000,24/04/1972,E,1,30/06/2005,AIR,AAR CORP,15.71,NaN,01/07/2004
4,1004,P,1,LU,54594,20000,24/04/1972,E,1,30/06/2001,AIR,AAR CORP,17.10,NaN,01/07/2000

In [19]:
# Number of unique companies price data
lpermco_price = price.LPERMCO.unique()
len(lpermco_price)

5289

In [20]:
# Number of unique non-bankrupt companies price data
df.loc[df['LPERMCO'].isin(lpermco_price)].loc[df['dlrsn'].isin([0])]['LPERMCO'].nunique()

4735

In [21]:
# Number of unique bankrupt companies price data
df.loc[df['LPERMCO'].isin(lpermco_price)].loc[df['dlrsn'].isin([2.0,3.0])]['LPERMCO'].nunique()

221

In [22]:
# Companies that exist in price data set and not in accounting data set
diff = [item for item in lpermco_price if item not in lpermcos]

In [23]:
# Companies that exist in accounting data set and not in price data set
diff2 = [item for item in lpermcos if item not in lpermco_price]

In [24]:
# Check if difference between price data set and diff list equals accounting data set
len(lpermco_price) - len(diff) == len(lpermcos)

True

In [25]:
# Drop companies in price data set but not in accounting data set
for i in diff:
    price.drop(price.index[price['LPERMCO'] == i], inplace=True)

In [26]:
# Check if final number of companies is the same in the two data sets
lpermco_price2 = price.LPERMCO.unique()
len(lpermco_price2) == len(lpermcos)

True

In [27]:
# Create copy of price data set to overwrite the Shares Outstanding column
price2 = price

In [28]:
# Put mean of Shares Outstanding for each company in cshoq column
price2['cshoq'] = price2.groupby('LPERMCO')['cshoq'].transform('mean')

In [29]:
price2.head()

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,iid,datadate,tic,conm,prccm,cshoq,ccmbegdt
0,1004,P,1,LU,54594,20000,24/04/1972,E,1,28/02/2006,AIR,AAR CORP,25.31,35.420788,01/03/2005
1,1004,P,1,LU,54594,20000,24/04/1972,E,1,31/07/2004,AIR,AAR CORP,10.40,35.420788,01/08/2003
2,1004,P,1,LU,54594,20000,24/04/1972,E,1,30/06/2004,AIR,AAR CORP,11.35,35.420788,01/07/2003
3,1004,P,1,LU,54594,20000,24/04/1972,E,1,30/06/2005,AIR,AAR CORP,15.71,35.420788,01/07/2004
4,1004,P,1,LU,54594,20000,24/04/1972,E,1,30/06/2001,AIR,AAR CORP,17.10,35.420788,01/07/2000

In [30]:
# Check if it worked with one random company
print(price.loc[price['tic']=='BMMI']['cshoq'].mean())
price2.loc[price2['tic']=='BMMI']

27.172071428571424

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,iid,datadate,tic,conm,prccm,cshoq,ccmbegdt
16101,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/06/2003,BMMI,BMC INDUSTRIES INC,0.5400,27.172071,01/07/2002
16102,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/07/2003,BMMI,BMC INDUSTRIES INC,0.4000,27.172071,01/08/2002
16103,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/05/2003,BMMI,BMC INDUSTRIES INC,0.9200,27.172071,01/06/2002
16104,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/04/2003,BMMI,BMC INDUSTRIES INC,1.4500,27.172071,01/05/2002
16105,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/03/2003,BMMI,BMC INDUSTRIES INC,1.3100,27.172071,01/04/2002
16106,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,28/02/2003,BMMI,BMC INDUSTRIES INC,1.5600,27.172071,01/03/2002
16107,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/01/2003,BMMI,BMC INDUSTRIES INC,1.6500,27.172071,01/02/2002
16108,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/12/2002,BMMI,BMC INDUSTRIES INC,1.5700,27.172071,01/01/2002
16109,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/11/2002,BMMI,BMC INDUSTRIES INC,1.8500,27.172071,01/12/2001
16110,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/10/2002,BMMI,BMC INDUSTRIES INC,1.1000,27.172071,01/11/2001
16111,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/09/2002,BMMI,BMC INDUSTRIES INC,1.2000,27.172071,01/10/2001
16112,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/08/2002,BMMI,BMC INDUSTRIES INC,1.1000,27.172071,01/09/2001
16113,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/07/2002,BMMI,BMC INDUSTRIES INC,0.7200,27.172071,01/08/2001
16114,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/06/2002,BMMI,BMC INDUSTRIES INC,0.9600,27.172071,01/07/2001
16115,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/05/2002,BMMI,BMC INDUSTRIES INC,1.2500,27.172071,01/06/2001
16116,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/04/2002,BMMI,BMC INDUSTRIES INC,1.5600,27.172071,01/05/2001
16117,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/03/2002,BMMI,BMC INDUSTRIES INC,1.6500,27.172071,01/04/2001
16118,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,28/02/2002,BMMI,BMC INDUSTRIES INC,1.9500,27.172071,01/03/2001
16119,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/01/2002,BMMI,BMC INDUSTRIES INC,2.6000,27.172071,01/02/2001
16120,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/12/2001,BMMI,BMC INDUSTRIES INC,2.0600,27.172071,01/01/2001
16121,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/11/2001,BMMI,BMC INDUSTRIES INC,2.8500,27.172071,01/12/2000
16122,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/10/2001,BMMI,BMC INDUSTRIES INC,2.0000,27.172071,01/11/2000
16123,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/09/2001,BMMI,BMC INDUSTRIES INC,2.0400,27.172071,01/10/2000
16124,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/08/2001,BMMI,BMC INDUSTRIES INC,4.6000,27.172071,01/09/2000
16125,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/07/2001,BMMI,BMC INDUSTRIES INC,4.8000,27.172071,01/08/2000
16126,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/06/2001,BMMI,BMC INDUSTRIES INC,6.0000,27.172071,01/07/2000
16127,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/05/2001,BMMI,BMC INDUSTRIES INC,6.2800,27.172071,01/06/2000
16128,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/04/2001,BMMI,BMC INDUSTRIES INC,5.9400,27.172071,01/05/2000
16129,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/03/2001,BMMI,BMC INDUSTRIES INC,5.5800,27.172071,01/04/2000
16130,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,28/02/2001,BMMI,BMC INDUSTRIES INC,5.4000,27.172071,01/03/2000
16131,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/01/2001,BMMI,BMC INDUSTRIES INC,5.1200,27.172071,01/02/2000
16132,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/12/2000,BMMI,BMC INDUSTRIES INC,4.8750,27.172071,01/01/2000
16133,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/11/2000,BMMI,BMC INDUSTRIES INC,5.0000,27.172071,01/12/1999
16134,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/10/2000,BMMI,BMC INDUSTRIES INC,5.9375,27.172071,01/11/1999
16135,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/09/2000,BMMI,BMC INDUSTRIES INC,6.8750,27.172071,01/10/1999
16136,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/08/2000,BMMI,BMC INDUSTRIES INC,5.6250,27.172071,01/09/1999
16137,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/07/2000,BMMI,BMC INDUSTRIES INC,5.0000,27.172071,01/08/1999
16138,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/06/2000,BMMI,BMC INDUSTRIES INC,4.0625,27.172071,01/07/1999
16139,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/05/2000,BMMI,BMC INDUSTRIES INC,3.8125,27.172071,01/06/1999
16140,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,30/04/2000,BMMI,BMC INDUSTRIES INC,5.0000,27.172071,01/05/1999
16141,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/03/2000,BMMI,BMC INDUSTRIES INC,5.6875,27.172071,01/04/1999
16142,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,29/02/2000,BMMI,BMC INDUSTRIES INC,5.5000,27.172071,01/03/1999
16143,1943,P,1,LU,65496,458,14/12/1972,18/08/2003,1,31/01/2000,BMMI,BMC INDUSTRIES INC,4.7500,27.172071,01/02/1999

# New Price Data

In [34]:
market = pd.read_csv('prices2.csv')
print(market.info())
market

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751479 entries, 0 to 751478
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PERMNO  751479 non-null  int64
 1   date    751479 non-null  object
 2   TICKER  734730 non-null  object
 3   PERMCO  751479 non-null  int64
 4   PRC     733475 non-null  float64
 5   SHROUT  748839 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 34.4+ MB
None

        PERMNO        date TICKER  PERMCO     PRC   SHROUT
0        15580  31/01/2000   AAME       5  2.5625  21027.0
1        15580  29/02/2000   AAME       5  2.5000  21027.0
2        15580  31/03/2000   AAME       5  2.6875  21021.0
3        15580  28/04/2000   AAME       5  2.6875  21021.0
4        15580  31/05/2000   AAME       5  3.3125  21025.0
...        ...         ...    ...     ...     ...      ...
751474   18322  30/08/2019   WRTC   56617  4.1500  29657.0
751475   18322  30/09/2019   WRTC   56617  4.0800  29669.0
751476   18322  31/10/2019   WRTC   56617  3.9300  29669.0
751477   18322  29/11/2019   WRTC   56617  4.5700  29669.0
751478   18322  31/12/2019   WRTC   56617  6.3900  29669.0

[751479 rows x 6 columns]

In [35]:
# Number of unique companies price data
lpermco_market = market.PERMCO.unique()
len(lpermco_market)

4956

# Variable Creation

In [45]:
df.head()

,GVKEY,LPERMCO,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,...,che,lt,ni,costat,mkvalt,dlrsn,gind,sic,dldte,count1
0,1004,20000,31/05/2000,1999,INDL,C,D,STD,AIR,AAR CORP,...,1.241,401.483,35.163,A,372.7519,0.0,201010.0,5080,NaN,20
1,1004,20000,31/05/2001,2000,INDL,C,D,STD,AIR,AAR CORP,...,13.809,361.642,18.531,A,377.1180,0.0,201010.0,5080,NaN,20
2,1004,20000,31/05/2002,2001,INDL,C,D,STD,AIR,AAR CORP,...,34.522,399.964,-58.939,A,364.5928,0.0,201010.0,5080,NaN,20
3,1004,20000,31/05/2003,2002,INDL,C,D,STD,AIR,AAR CORP,...,29.154,391.633,-12.410,A,143.3295,0.0,201010.0,5080,NaN,20
4,1004,20000,31/05/2004,2003,INDL,C,D,STD,AIR,AAR CORP,...,41.010,407.608,3.504,A,308.9071,0.0,201010.0,5080,NaN,20

In [73]:
acc = df[['LPERMCO','datadate','fyear','tic','conm','ceq', 'che', 'lt', 'ni',
          'mkvalt', 'dlrsn', 'gind', 'sic', 'dldte']]
acc.head()

,LPERMCO,datadate,fyear,tic,conm,ceq,che,lt,ni,mkvalt,dlrsn,gind,sic,dldte
0,20000,31/05/2000,1999,AIR,AAR CORP,339.515,1.241,401.483,35.163,372.7519,0.0,201010.0,5080,NaN
1,20000,31/05/2001,2000,AIR,AAR CORP,340.212,13.809,361.642,18.531,377.1180,0.0,201010.0,5080,NaN
2,20000,31/05/2002,2001,AIR,AAR CORP,310.235,34.522,399.964,-58.939,364.5928,0.0,201010.0,5080,NaN
3,20000,31/05/2003,2002,AIR,AAR CORP,294.988,29.154,391.633,-12.410,143.3295,0.0,201010.0,5080,NaN
4,20000,31/05/2004,2003,AIR,AAR CORP,301.684,41.010,407.608,3.504,308.9071,0.0,201010.0,5080,NaN

In [74]:
# Add 10% of diff between MVE-BVE to BVE (according to Campbell et al. (2008))
acc['diff'] = 0.1*(acc['mkvalt']-acc['ceq'])
acc['ceq'] = acc['ceq']+acc['diff']
acc.drop(columns=['diff'], inplace=True)

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [80]:
# Percentage of firm-years have negative book value of equity
round(acc.loc[acc['ceq']<0]['LPERMCO'].count()/acc['LPERMCO'].count(),3)

0.029

In [87]:
# Substitute all negative BVE by +1$ (according to Campbell et al. (2008))
acc.ceq = np.where(acc.ceq < 0, 1,acc.ceq)

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [90]:
acc['MTA'] = acc['mkvalt']+acc['lt']
acc['NIMTA'] = acc['ni']/acc['MTA']
acc['TLMTA'] = acc['lt']/acc['MTA']
acc['CASHMTA'] = acc['che']/acc['MTA']
acc['MB'] = acc['mkvalt']/acc['ceq']

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/evaferreira/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [97]:
acc

,LPERMCO,datadate,fyear,tic,conm,ceq,che,lt,ni,mkvalt,dlrsn,gind,sic,dldte,MTA,NIMTA,TLMTA,CASHMTA,MB
0,20000,31/05/2000,1999,AIR,AAR CORP,342.83869,1.241,401.483,35.163,372.7519,0.0,201010.0,5080,NaN,774.2349,0.045416,0.518555,0.001603,1.087252
1,20000,31/05/2001,2000,AIR,AAR CORP,343.90260,13.809,361.642,18.531,377.1180,0.0,201010.0,5080,NaN,738.7600,0.025084,0.489526,0.018692,1.096584
2,20000,31/05/2002,2001,AIR,AAR CORP,315.67078,34.522,399.964,-58.939,364.5928,0.0,201010.0,5080,NaN,764.5568,-0.077089,0.523132,0.045153,1.154978
3,20000,31/05/2003,2002,AIR,AAR CORP,279.82215,29.154,391.633,-12.410,143.3295,0.0,201010.0,5080,NaN,534.9625,-0.023198,0.732076,0.054497,0.512216
4,20000,31/05/2004,2003,AIR,AAR CORP,302.40631,41.010,407.608,3.504,308.9071,0.0,201010.0,5080,NaN,716.5151,0.004890,0.568876,0.057235,1.021497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117713,56407,31/12/2019,2019,GRIN,GRINDROD SHIPPING,238.92204,35.553,267.129,-43.487,121.7784,0.0,203030.0,4412,NaN,388.9074,-0.111818,0.686870,0.091418,0.509699
117714,56612,31/12/2018,2018,NMCI,NAVIOS MARITIME CONTAINERS,174.01835,18.892,231.054,12.700,97.9265,0.0,203030.0,4412,NaN,328.9805,0.038604,0.702333,0.057426,0.562737
117715,56612,31/12/2019,2019,NMCI,NAVIOS MARITIME CONTAINERS,178.42165,18.109,270.322,7.507,74.3965,0.0,203030.0,4412,NaN,344.7185,0.021777,0.784182,0.052533,0.416970
117716,56541,31/12/2018,2018,ACA,ARCOSA INC,1650.90030,99.400,487.700,75.700,1348.5030,0.0,201030.0,3440,NaN,1836.2030,0.041226,0.265602,0.054133,0.816829
117717,56541,31/12/2019,2019,ACA,ARCOSA INC,1826.53650,240.400,512.100,113.300,2151.7650,0.0,201030.0,3440,NaN,2663.8650,0.042532,0.192239,0.090245,1.178057