In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [4]:
dfo = pd.read_csv('dfo.csv')
dfo.drop(columns=['Unnamed: 0'], inplace=True)
dfo

,PERMCO,fyear,tic,conm,dlrsn,gind,NIMTA,TLMTA,CASHMTA,MB,SIGMA,PRICE,RSIZE,EXRET
0,20000,2000,AIR,AAR CORP,0.0,20,0.025084,0.489526,0.018692,1.096584,0.179949,2.535679,-10.450106,-0.274847
1,20000,2001,AIR,AAR CORP,0.0,20,-0.077089,0.523132,0.045153,1.154978,0.258928,2.198335,-10.670780,-0.341002
2,20000,2002,AIR,AAR CORP,0.0,20,-0.023198,0.732076,0.054497,0.512216,0.226402,1.638997,-10.808410,-0.263733
3,20000,2003,AIR,AAR CORP,0.0,20,0.004890,0.568876,0.057235,1.021497,0.193206,2.704711,-9.980664,0.887459
4,20000,2004,AIR,AAR CORP,0.0,20,0.016436,0.444056,0.053542,1.557737,0.113530,2.611539,-10.154368,-0.043066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73235,56407,2015,GRIN,GRINDROD SHIPPING,0.0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
73236,56407,2016,GRIN,GRINDROD SHIPPING,0.0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
73237,56407,2017,GRIN,GRINDROD SHIPPING,0.0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
73238,56407,2018,GRIN,GRINDROD SHIPPING,0.0,20,-0.075306,0.565974,0.130019,0.432346,0.191229,1.830980,-12.082531,-1.585211
73239,56407,2019,GRIN,GRINDROD SHIPPING,0.0,20,-0.111818,0.686870,0.091418,0.509699,0.121426,1.870263,-14.409725,-0.177494

In [5]:
dfo_no0 = pd.read_csv('dfo_nozeros.csv')
dfo_no0.drop(columns=['Unnamed: 0'], inplace=True)
dfo_no0

,PERMCO,fyear,tic,conm,dlrsn,gind,NIMTA,TLMTA,CASHMTA,MB,SIGMA,PRICE,RSIZE,EXRET
0,20000,2000,AIR,AAR CORP,0.0,20,0.025084,0.489526,0.018692,1.096584,0.179949,2.535679,-10.450106,-0.274847
1,20000,2001,AIR,AAR CORP,0.0,20,-0.077089,0.523132,0.045153,1.154978,0.258928,2.198335,-10.670780,-0.341002
2,20000,2002,AIR,AAR CORP,0.0,20,-0.023198,0.732076,0.054497,0.512216,0.226402,1.638997,-10.808410,-0.263733
3,20000,2003,AIR,AAR CORP,0.0,20,0.004890,0.568876,0.057235,1.021497,0.193206,2.704711,-9.980664,0.887459
4,20000,2004,AIR,AAR CORP,0.0,20,0.016436,0.444056,0.053542,1.557737,0.113530,2.611539,-10.154368,-0.043066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44701,54852,2018,LPG,DORIAN LPG LTD,0.0,10,-0.047753,0.668019,0.029469,0.413358,0.091356,1.763017,-11.087931,-0.149969
44702,56329,2018,NVT,NVENT ELECTRIC PLC,0.0,20,0.039480,0.319121,0.027198,1.413294,0.075005,2.708050,-8.559814,0.919612
44703,56329,2019,NVT,NVENT ELECTRIC PLC,0.0,20,0.034887,0.320799,0.016668,1.567013,0.103867,2.708050,-8.729810,-0.153819
44704,56407,2018,GRIN,GRINDROD SHIPPING,0.0,20,-0.075306,0.565974,0.130019,0.432346,0.191229,1.830980,-12.082531,-1.585211
44705,56407,2019,GRIN,GRINDROD SHIPPING,0.0,20,-0.111818,0.686870,0.091418,0.509699,0.121426,1.870263,-14.409725,-0.177494

In [6]:
dfo05 = dfo[dfo['fyear']<=2005]
dfo06 = dfo[(dfo['fyear']>=2001) & (dfo['fyear']<=2006)]

In [7]:
# Summing the variables
dfo05['sumvar'] = dfo05.iloc[:, -8:-1].sum(axis=1)

In [8]:
# Cumulative Sum of variables throughout the years per PERMCO
dfo05['sumvar'] = dfo05.groupby('PERMCO').transform(sum).sumvar

In [9]:
# Dropping the companies with all 0s in variable,s (either not created yet or bankrupt for all of the timeframe)
dropsum0 = dfo05[dfo05.sumvar==0]['PERMCO'].unique()

In [10]:
# Drop companies from dfo with sum of var for all 5 years as 0
for i in dropsum0:
    dfo05.drop(dfo05.index[dfo05['PERMCO']==i], inplace=True)

In [11]:
dfo05.drop(columns='sumvar', inplace=True)

In [12]:
dfo05

,PERMCO,fyear,tic,conm,dlrsn,gind,NIMTA,TLMTA,CASHMTA,MB,SIGMA,PRICE,RSIZE,EXRET
0,20000,2000,AIR,AAR CORP,0.0,20,0.025084,0.489526,0.018692,1.096584,0.179949,2.535679,-10.450106,-0.274847
1,20000,2001,AIR,AAR CORP,0.0,20,-0.077089,0.523132,0.045153,1.154978,0.258928,2.198335,-10.670780,-0.341002
2,20000,2002,AIR,AAR CORP,0.0,20,-0.023198,0.732076,0.054497,0.512216,0.226402,1.638997,-10.808410,-0.263733
3,20000,2003,AIR,AAR CORP,0.0,20,0.004890,0.568876,0.057235,1.021497,0.193206,2.704711,-9.980664,0.887459
4,20000,2004,AIR,AAR CORP,0.0,20,0.016436,0.444056,0.053542,1.557737,0.113530,2.611539,-10.154368,-0.043066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72881,45471,2001,KRG,KITE REALTY GROUP TRUST,0.0,60,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
72882,45471,2002,KRG,KITE REALTY GROUP TRUST,0.0,60,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
72883,45471,2003,KRG,KITE REALTY GROUP TRUST,0.0,60,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
72884,45471,2004,KRG,KITE REALTY GROUP TRUST,0.0,60,-0.000826,0.539716,0.015894,1.704650,0.047433,2.708050,-10.560558,-1.996392
72885,45471,2005,KRG,KITE REALTY GROUP TRUST,0.0,60,0.015391,0.493993,0.017421,1.496603,0.033639,2.708050,-10.145894,-0.021494

In [13]:
dfo05['dlrsn_lag'] = dfo05.groupby(['PERMCO'])['dlrsn'].shift(-1)

In [14]:
dfo05.drop(dfo05[dfo05.fyear.isin(['2005'])].index, inplace=True)

In [15]:
dfo05[dfo05['dlrsn_lag']==1]

,PERMCO,fyear,tic,conm,dlrsn,gind,NIMTA,TLMTA,CASHMTA,MB,SIGMA,PRICE,RSIZE,EXRET,dlrsn_lag
980,20215,2000,3ACKH,ARMSTRONG HOLDINGS INC,0.0,20,0.003712,0.974370,0.047614,0.138782,0.584455,0.723919,-11.842106,-2.343793,1.0
981,20215,2001,3ACKH,ARMSTRONG HOLDINGS INC,1.0,20,0.027262,0.959226,0.081493,0.198777,0.245375,1.226712,-11.229276,0.047036,1.0
982,20215,2002,3ACKH,ARMSTRONG HOLDINGS INC,1.0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
983,20215,2003,3ACKH,ARMSTRONG HOLDINGS INC,1.0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
984,20215,2004,3ACKH,ARMSTRONG HOLDINGS INC,1.0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58863,40194,2003,ASCX,ADVANCED SWITCHING COMM INC,1.0,45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
58864,40194,2004,ASCX,ADVANCED SWITCHING COMM INC,1.0,45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
59162,41704,2002,TORCQ,TORCH OFFSHORE INC,0.0,10,0.004332,0.241655,0.003586,0.877649,0.117339,1.695616,-11.671936,0.121713,1.0
59163,41704,2003,TORCQ,TORCH OFFSHORE INC,1.0,10,-0.055568,0.597321,0.000247,0.950428,0.106808,1.662220,-11.943757,-0.262680,1.0
59164,41704,2004,TORCQ,TORCH OFFSHORE INC,1.0,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0

In [14]:
NIMTA = dfo05.loc[:, ['PERMCO', 'fyear', 'NIMTA']]
TLMTA = dfo05.loc[:, ['PERMCO', 'fyear', 'TLMTA']]
CASHMTA = dfo05.loc[:, ['PERMCO', 'fyear', 'CASHMTA']]
MB = dfo05.loc[:, ['PERMCO', 'fyear', 'MB']]
SIGMA = dfo05.loc[:, ['PERMCO', 'fyear', 'SIGMA']]
RSIZE = dfo05.loc[:, ['PERMCO', 'fyear', 'RSIZE']]
EXRET = dfo05.loc[:, ['PERMCO', 'fyear', 'EXRET']]
PRICE = dfo05.loc[:, ['PERMCO', 'fyear', 'PRICE']]

In [15]:
varstr = ['NIMTA', 'TLMTA', 'CASHMTA', 'MB', 'SIGMA', 'RSIZE', 'EXRET', 'PRICE']
var = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
varcols = {c: [] for c in varstr}

In [16]:
years = list(range(2000, 2005, +1))
years

[2000, 2001, 2002, 2003, 2004]

In [17]:
for i in list(range(8)):
    var[i] = var[i].set_index(['PERMCO','fyear'])[varstr[i]].unstack()
    for y in years:
        varcols[varstr[i]].append('{}_{}'.format(varstr[i], y))
    var[i].columns = varcols[varstr[i]]

In [18]:
var[0]

        NIMTA_2000  NIMTA_2001  NIMTA_2002  NIMTA_2003  NIMTA_2004
PERMCO
5         0.010847    0.009687   -0.032162    0.016285    0.011216
7         0.069314   -0.003314    0.008774    0.006771    0.015213
59        0.019102   -0.020699    0.007884    0.013775    0.032645
90        0.013034    0.007027    0.014093    0.013479    0.013946
92        0.013304    0.015184    0.015159    0.012666    0.018088
...            ...         ...         ...         ...         ...
47872     0.000000    0.000000    0.000000    0.000000    0.000000
47877     0.000000    0.000000    0.000000    0.000000    0.000000
47878     0.000000    0.000000    0.000000    0.000000    0.000000
47883     0.000000    0.000000    0.000000    0.000000    0.000000
56248     0.000000    0.000000    0.000000    0.030789    0.034021

[2214 rows x 5 columns]

In [19]:
var_01 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
var_02 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
var_03 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
var_04 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
var_yrs = [var_01,var_02,var_03,var_04]

In [20]:
for j in list(range(4)):
    for i in list(range(8)):
        var_yrs[j][i] = var[i].iloc[:,[j,j+1]]

In [21]:
df_yrs = [var_yrs[0][0], var_yrs[1][0], var_yrs[2][0], var_yrs[3][0]]

In [22]:
for j in list(range(4)):
    for df_ in var_yrs[j][1:]:
        df_yrs[j] = df_yrs[j].merge(df_, on='PERMCO')

In [23]:
col_names = ['NIMTA_t','NIMTA_t+1','TLMTA_t','TLMTA_t+1','CASHMTA_t','CASHMTA_t+1','MB_t','MB_t+1','SIGMA_t',
             'SIGMA_t+1','RSIZE_t','RSIZE_t+1','EXRET_t','EXRET_t+1','PRICE_t','PRICE_t+1']

In [24]:
for j in list(range(4)):
    df_yrs[j].columns = col_names
    df_yrs[j]['PERMCO_Y'] = df_yrs[j].index.astype(str) + '_200{}'.format(j+1)
    df_yrs[j].set_index('PERMCO_Y', inplace=True)

In [25]:
df_yrs[0] = df_yrs[0].append(df_yrs[1])

In [26]:
df_yrs[0] = df_yrs[0].append(df_yrs[2])

In [27]:
df_yrs[0].sort_index()

,NIMTA_t,NIMTA_t+1,TLMTA_t,TLMTA_t+1,CASHMTA_t,CASHMTA_t+1,MB_t,MB_t+1,SIGMA_t,SIGMA_t+1,RSIZE_t,RSIZE_t+1,EXRET_t,EXRET_t+1,PRICE_t,PRICE_t+1
PERMCO_Y,,,,,,,,,,,,,,,,
10022_2001,0.050112,0.024914,0.034325,0.087771,0.021113,0.026541,4.675962,2.639758,0.484013,0.234892,-11.460921,-10.807303,0.034162,0.057529,0.782759,1.308333
10022_2002,0.024914,-0.067999,0.087771,0.113672,0.026541,0.074131,2.639758,2.025430,0.234892,0.225775,-10.807303,-11.913018,0.057529,-0.985325,1.308333,-0.061875
10022_2003,-0.067999,-0.044924,0.113672,0.110636,0.074131,0.099021,2.025430,2.343936,0.225775,0.175337,-11.913018,-11.984486,-0.985325,0.108720,-0.061875,0.104360
10039_2001,0.012339,0.012686,0.900204,0.879065,0.061979,0.105014,1.140717,1.384739,0.056101,0.067049,-12.744436,-12.277124,0.234999,0.467793,2.708050,2.708050
10039_2002,0.012686,0.013282,0.879065,0.862308,0.105014,0.081096,1.384739,1.527599,0.067049,0.051327,-12.277124,-11.784684,0.467793,0.415181,2.708050,2.708050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9977_2002,0.016071,0.037592,0.446533,0.369611,0.202126,0.172589,0.919298,1.002452,0.105660,0.128577,-11.619177,-11.777100,0.438595,-0.288360,2.447551,2.054124
9977_2003,0.037592,0.037961,0.369611,0.500197,0.172589,0.129181,1.002452,0.668700,0.128577,0.123011,-11.777100,-11.353858,-0.288360,0.415406,2.054124,2.708050
9999_2001,0.005291,0.003324,0.963532,0.951977,0.079675,0.065123,0.564891,0.675556,0.594583,0.089752,-13.132714,-12.744226,-0.407671,0.197755,1.321756,1.597365
9999_2002,0.003324,0.003454,0.951977,0.936401,0.065123,0.114315,0.675556,0.806940,0.089752,0.100287,-12.744226,-12.206955,0.197755,0.398222,1.597365,1.871956
9999_2003,0.003454,0.007249,0.936401,0.882709,0.114315,0.109281,0.806940,1.354839,0.100287,0.098093,-12.206955,-11.770522,0.398222,0.362468,1.871956,2.500616

In [28]:
dlrsn05 = dfo05[['PERMCO', 'fyear', 'dlrsn_lag']]

In [29]:
dlrsn05 = dlrsn05[dlrsn05.fyear != 2000]

In [30]:
dlrsn05 = dlrsn05[dlrsn05.fyear != 2004]

In [31]:
dlrsn05['PERMCO_Y'] = dlrsn05['PERMCO'].astype(str) + '_' + dlrsn05['fyear'].astype(str)

In [32]:
dlrsn05.set_index('PERMCO_Y', inplace=True)

In [33]:
dlrsn05.drop(columns=['PERMCO', 'fyear'], inplace=True)

In [34]:
dlrsn05 = dlrsn05.sort_index()

In [35]:
df_yrs[0]['y_t+2'] = dlrsn05

In [36]:
df_yrs[0][df_yrs[0]['y_t+2']==1]

,NIMTA_t,NIMTA_t+1,TLMTA_t,TLMTA_t+1,CASHMTA_t,CASHMTA_t+1,MB_t,MB_t+1,SIGMA_t,SIGMA_t+1,RSIZE_t,RSIZE_t+1,EXRET_t,EXRET_t+1,PRICE_t,PRICE_t+1,y_t+2
PERMCO_Y,,,,,,,,,,,,,,,,,
458_2001,0.041323,-0.083497,0.629565,0.795195,0.006351,0.007171,0.918164,0.502110,0.673964,0.285644,-11.381684,-12.142780,0.088308,-0.729148,1.584120,0.722706,1.0
4090_2001,-0.135701,-0.830538,0.595285,0.822376,0.011913,0.002099,0.727636,16.670200,0.202663,0.340670,-12.162454,-13.349775,-0.926279,-1.622011,0.693147,-0.653926,1.0
7636_2001,-0.518444,-0.199535,0.444380,0.730006,0.064516,0.137890,2.016167,1.041880,1.643183,0.174185,-15.623688,-16.857883,-0.256121,-1.296802,-0.693147,-2.040221,1.0
10270_2001,-0.049194,-0.204037,0.832422,0.866856,0.001159,0.001933,1.132043,4.340100,0.762678,0.373564,-14.655192,-14.708508,-1.263337,-1.015292,0.060625,-0.162519,1.0
10961_2001,-0.277171,-0.512521,0.903631,0.966426,0.032977,0.033873,0.324870,1.963500,0.328893,0.258278,-14.468641,-15.488656,-1.116322,-1.143060,0.000000,-1.139434,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38402_2003,-0.728553,-0.264642,0.888305,0.495710,0.339825,0.086431,24.815900,191.964100,0.365106,0.319858,-12.696803,-10.889010,-1.803010,0.655771,-0.994252,0.350657,1.0
38415_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
38434_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
40194_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
41704_2003,0.004332,-0.055568,0.241655,0.597321,0.003586,0.000247,0.877649,0.950428,0.117339,0.106808,-11.671936,-11.943757,0.121713,-0.262680,1.695616,1.662220,1.0

In [37]:
df_yrs[0]

,NIMTA_t,NIMTA_t+1,TLMTA_t,TLMTA_t+1,CASHMTA_t,CASHMTA_t+1,MB_t,MB_t+1,SIGMA_t,SIGMA_t+1,RSIZE_t,RSIZE_t+1,EXRET_t,EXRET_t+1,PRICE_t,PRICE_t+1,y_t+2
PERMCO_Y,,,,,,,,,,,,,,,,,
5_2001,0.010847,0.009687,0.873633,0.873892,0.167534,0.236260,0.535591,0.562052,0.153243,0.137694,-12.531156,-12.316952,-0.185504,0.278427,0.693147,0.790274,0.0
7_2001,0.069314,-0.003314,0.237749,0.278507,0.355125,0.574777,1.924124,1.336549,1.231616,0.197188,-7.732158,-7.211974,-1.879970,0.193937,2.699682,2.708050,0.0
59_2001,0.019102,-0.020699,0.872398,0.850948,0.078093,0.064227,1.289714,0.853084,0.217714,0.146704,-12.197856,-12.669910,0.380229,-0.374646,2.639057,2.054124,0.0
90_2001,0.013034,0.007027,0.662097,0.745381,0.053663,0.058344,4.092463,3.048286,1.213744,0.098397,-5.077161,-5.392422,-1.035900,-0.096102,2.708050,2.708050,0.0
92_2001,0.013304,0.015184,0.630103,0.716861,0.023935,0.038125,3.113619,2.078476,0.336967,0.237590,-6.416398,-6.704279,0.570276,-0.694779,2.708050,2.708050,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47872_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
47877_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
47878_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
47883_2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
56248_2003,0.000000,0.030789,0.000000,0.275867,0.000000,0.027618,0.000000,1.844822,0.000000,0.055809,0.000000,-11.318824,0.000000,3.331507,0.000000,2.708050,0.0

# Train DFs

In [38]:
year_lists = [[] for i in range(15)]
for i in list(range(15)):
    year_lists[i] = list(range(2000+i, 2005+i, +1))

In [39]:
ogdf_list = [pd.DataFrame() for i in range(15)]
for i in list(range(15)):
    ogdf_list[i] = dfo[(dfo['fyear']>=2000+i) & (dfo['fyear']<=2005+i)]

In [40]:
def clean_df(dfo0x, year_list):
    # Summing the variables
    dfo0x['sumvar'] = dfo0x.iloc[:, -8:-1].sum(axis=1)
    
    # Cumulative Sum of variables throughout the years per PERMCO
    dfo0x['sumvar'] = dfo0x.groupby('PERMCO').transform(sum).sumvar
    
    # Dropping the companies with all 0s in variable,s (either not created yet or bankrupt for all of the timeframe)
    dropsum0 = dfo0x[dfo0x.sumvar==0]['PERMCO'].unique()
    
    # Drop companies from dfo with sum of var for all 5 years as 0
    for i in dropsum0:
        dfo0x.drop(dfo0x.index[dfo0x['PERMCO']==i], inplace=True)
    
    dfo0x.drop(columns='sumvar', inplace=True)
    
    dfo0x['dlrsn_lag'] = dfo0x.groupby(['PERMCO'])['dlrsn'].shift(-1)
    
    dfo0x.drop(dfo0x[dfo0x.fyear.isin([str(year_list[4]+1)])].index, inplace=True)
    
    return dfo0x

In [41]:
for i in list(range(15)):
    ogdf_list[i] = clean_df(ogdf_list[i], year_lists[i])

In [42]:
def create_finaldf(dfo0x, year_list):
    NIMTA = dfo0x.loc[:, ['PERMCO', 'fyear', 'NIMTA']]
    TLMTA = dfo0x.loc[:, ['PERMCO', 'fyear', 'TLMTA']]
    CASHMTA = dfo0x.loc[:, ['PERMCO', 'fyear', 'CASHMTA']]
    MB = dfo0x.loc[:, ['PERMCO', 'fyear', 'MB']]
    SIGMA = dfo0x.loc[:, ['PERMCO', 'fyear', 'SIGMA']]
    RSIZE = dfo0x.loc[:, ['PERMCO', 'fyear', 'RSIZE']]
    EXRET = dfo0x.loc[:, ['PERMCO', 'fyear', 'EXRET']]
    PRICE = dfo0x.loc[:, ['PERMCO', 'fyear', 'PRICE']]
    
    varstr = ['NIMTA', 'TLMTA', 'CASHMTA', 'MB', 'SIGMA', 'RSIZE', 'EXRET', 'PRICE']
    var = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
    varcols = {c: [] for c in varstr}
    
    for i in list(range(8)):
        var[i] = var[i].set_index(['PERMCO','fyear'])[varstr[i]].unstack()
        for y in year_list:
            varcols[varstr[i]].append('{}_{}'.format(varstr[i], y))
        var[i].columns = varcols[varstr[i]]
    
    var_0x1 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
    var_0x2 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
    var_0x3 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
    var_0x4 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
    var_yrs = [var_0x1,var_0x2,var_0x3,var_0x4]
    
    for j in list(range(4)):
        for i in list(range(8)):
            var_yrs[j][i] = var[i].iloc[:,[j,j+1]]
            
    df_yrs = [var_yrs[0][0], var_yrs[1][0], var_yrs[2][0], var_yrs[3][0]]
    
    for j in list(range(4)):
        for df_ in var_yrs[j][1:]:
            df_yrs[j] = df_yrs[j].merge(df_, on='PERMCO')
    
    col_names = ['NIMTA_t','NIMTA_t+1','TLMTA_t','TLMTA_t+1','CASHMTA_t','CASHMTA_t+1','MB_t','MB_t+1','SIGMA_t',
             'SIGMA_t+1','RSIZE_t','RSIZE_t+1','EXRET_t','EXRET_t+1','PRICE_t','PRICE_t+1']
    
    for j in list(range(4)):
        df_yrs[j].columns = col_names
        df_yrs[j]['PERMCO_Y'] = df_yrs[j].index.astype(str) + '_' + str(year_list[j]+2)
        df_yrs[j].set_index('PERMCO_Y', inplace=True)
        
    df_yrs[0] = df_yrs[0].append(df_yrs[1])
    df_yrs[0] = df_yrs[0].append(df_yrs[2])
    df_yrs[0] = df_yrs[0].sort_index()
    
    return df_yrs[0]

In [56]:
df_list = [pd.DataFrame() for i in range(15)]
for i in list(range(15)):
    df_list[i] = create_finaldf(ogdf_list[i], year_lists[i])

In [55]:
def append_dlrsn(dfo0x, df_listobj, year_list):
    dlrsn0x = dfo0x[['PERMCO', 'fyear', 'dlrsn_lag']]
    dlrsn0x = dlrsn0x[dlrsn0x.fyear != year_list[0]]
    dlrsn0x = dlrsn0x[dlrsn0x.fyear != year_list[4]]
    dlrsn0x['PERMCO_Y'] = dlrsn0x['PERMCO'].astype(str) + '_' + (dlrsn0x['fyear']+1).astype(str)
    dlrsn0x.set_index('PERMCO_Y', inplace=True)
    dlrsn0x.drop(columns=['PERMCO', 'fyear'], inplace=True)
    dlrsn0x = dlrsn0x.sort_index()
    df_listobj['y_t+2'] = dlrsn0x
    
    return df_listobj

In [57]:
for i in list(range(15)):
    df_list[i] = append_dlrsn(ogdf_list[i], df_list[i], year_lists[i])
    df_list[i] = df_list[i].sort_index()

# Test DFs

In [46]:
ogdf_test = [pd.DataFrame() for i in range(15)]
for i in list(range(15)):
    ogdf_test[i] = dfo[(dfo['fyear']>=2003+i) & (dfo['fyear']<=2005+i)]

In [47]:
def clean_dftest(dfo0x, year_list):
    # Summing the variables
    dfo0x['sumvar'] = dfo0x.iloc[:, -8:-1].sum(axis=1)
    
    # Cumulative Sum of variables throughout the years per PERMCO
    dfo0x['sumvar'] = dfo0x.groupby('PERMCO').transform(sum).sumvar
    
    # Dropping the companies with all 0s in variable,s (either not created yet or bankrupt for all of the timeframe)
    dropsum0 = dfo0x[dfo0x.sumvar==0]['PERMCO'].unique()
    
    # Drop companies from dfo with sum of var for all 3 years as 0
    for i in dropsum0:
        dfo0x.drop(dfo0x.index[dfo0x['PERMCO']==i], inplace=True)
    
    dfo0x.drop(columns='sumvar', inplace=True)
    
    dfo0x['dlrsn_lag'] = dfo0x.groupby(['PERMCO'])['dlrsn'].shift(-1)

    dfo0x.drop(dfo0x[dfo0x.fyear.isin([str(year_list[0]),str(year_list[1]),str(year_list[2])])].index, inplace=True)
    
    return dfo0x

In [48]:
for i in list(range(15)):
    ogdf_test[i] = clean_df(ogdf_test[i], year_lists[i])

In [49]:
def create_finaldftest(dfo0x, year_list):
    NIMTA = dfo0x.loc[:, ['PERMCO', 'fyear', 'NIMTA']]
    TLMTA = dfo0x.loc[:, ['PERMCO', 'fyear', 'TLMTA']]
    CASHMTA = dfo0x.loc[:, ['PERMCO', 'fyear', 'CASHMTA']]
    MB = dfo0x.loc[:, ['PERMCO', 'fyear', 'MB']]
    SIGMA = dfo0x.loc[:, ['PERMCO', 'fyear', 'SIGMA']]
    RSIZE = dfo0x.loc[:, ['PERMCO', 'fyear', 'RSIZE']]
    EXRET = dfo0x.loc[:, ['PERMCO', 'fyear', 'EXRET']]
    PRICE = dfo0x.loc[:, ['PERMCO', 'fyear', 'PRICE']]
    
    varstr = ['NIMTA', 'TLMTA', 'CASHMTA', 'MB', 'SIGMA', 'RSIZE', 'EXRET', 'PRICE']
    var = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]
    varcols = {c: [] for c in varstr}
    
    for i in list(range(8)):
        var[i] = var[i].set_index(['PERMCO','fyear'])[varstr[i]].unstack()
        for y in year_list:
            varcols[varstr[i]].append('{}_{}'.format(varstr[i], y))
        var[i].columns = varcols[varstr[i]]
    
    var_0x1 = [NIMTA, TLMTA, CASHMTA, MB, SIGMA, RSIZE, EXRET, PRICE]

    for i in list(range(8)):
        var_0x1[i] = var[i].iloc[:,[0,1]]
     
    df_vars = var_0x1[0]
    
    for df_ in var_0x1[1:]:
        df_vars = df_vars.merge(df_, on='PERMCO')
    
    col_names = ['NIMTA_t','NIMTA_t+1','TLMTA_t','TLMTA_t+1','CASHMTA_t','CASHMTA_t+1','MB_t','MB_t+1','SIGMA_t',
             'SIGMA_t+1','RSIZE_t','RSIZE_t+1','EXRET_t','EXRET_t+1','PRICE_t','PRICE_t+1']
    
    df_vars.columns = col_names
    df_vars['PERMCO_Y'] = df_vars.index.astype(str) + '_' + str(year_list[0]+2)
    df_vars.set_index('PERMCO_Y', inplace=True)
        
    df_vars = df_vars.sort_index()
    
    return df_vars

In [50]:
df_test = [pd.DataFrame() for i in range(15)]
for i in list(range(15)):
    df_test[i] = create_finaldftest(ogdf_test[i], year_lists[i][3:5])

In [51]:
def append_dlrsntest(dfo0x, df_listobj, year_list):
    dlrsn0x = dfo0x[['PERMCO', 'fyear', 'dlrsn_lag']]
    dlrsn0x = dlrsn0x[dlrsn0x.fyear == year_list[4]]
    dlrsn0x['PERMCO_Y'] = dlrsn0x['PERMCO'].astype(str) + '_' + (dlrsn0x['fyear']+1).astype(str)
    dlrsn0x.set_index('PERMCO_Y', inplace=True)
    dlrsn0x.drop(columns=['PERMCO', 'fyear'], inplace=True)
    dlrsn0x = dlrsn0x.sort_index()
    df_listobj['y_t+2'] = dlrsn0x
    
    return df_listobj

In [52]:
for i in list(range(15)):
    df_test[i] = append_dlrsntest(ogdf_test[i], df_test[i], year_lists[i])
    df_test[i] = df_test[i].sort_index()

In [61]:
df_list[3][df_list[3]['y_t+2']==1]

,NIMTA_t,NIMTA_t+1,TLMTA_t,TLMTA_t+1,CASHMTA_t,CASHMTA_t+1,MB_t,MB_t+1,SIGMA_t,SIGMA_t+1,RSIZE_t,RSIZE_t+1,EXRET_t,EXRET_t+1,PRICE_t,PRICE_t+1,y_t+2
PERMCO_Y,,,,,,,,,,,,,,,,,
10579_2005,-0.278940,-0.550391,0.298951,0.465965,0.207738,0.164209,0.958979,0.816455,0.205411,0.194377,-11.430352,-12.275093,-0.122382,-0.790757,1.656321,0.883768,1.0
10579_2006,-0.550391,0.000000,0.465965,0.000000,0.164209,0.000000,0.816455,0.000000,0.194377,0.000000,-12.275093,0.000000,-0.790757,0.000000,0.883768,0.000000,1.0
10579_2007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
11041_2005,-0.017669,0.000000,0.747695,0.000000,0.021036,0.000000,1.682634,0.000000,0.185358,0.000000,-9.687687,0.000000,-0.282674,0.000000,2.655352,0.000000,1.0
11041_2006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8325_2005,0.085999,0.235152,0.122001,0.028458,0.175070,0.038357,0.937074,0.964726,0.033776,0.121247,-12.105080,-13.485386,-0.431868,-1.216578,1.549688,0.262364,1.0
8325_2006,0.235152,0.000000,0.028458,0.000000,0.038357,0.000000,0.964726,0.000000,0.121247,0.000000,-13.485386,0.000000,-1.216578,0.000000,0.262364,0.000000,1.0
8325_2007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
8760_2006,-0.205028,-0.531441,0.769471,0.379169,0.142549,0.098969,0.483398,2.101946,0.342889,0.232029,-13.976377,-14.494496,-0.358206,-0.260300,1.208960,0.688135,1.0
8760_2007,-0.531441,-0.065095,0.379169,0.485980,0.098969,0.263685,2.101946,1.144146,0.232029,0.202538,-14.494496,-15.592061,-0.260300,-1.118226,0.688135,-0.562119,1.0